<!--{{sortedData() | async | json}}-->
<!--<app-chart></app-chart>-->


<!--<app-pie-chart></app-pie-chart>-->

<ng-container *ngIf="{
items: data$ | async,
sort: data$ | async
} as data">
<!--  {{data | json}}-->

<!--  {{data | json}}-->
<!--  <mat-form-field>-->
<!--    <mat-label>Filter</mat-label>-->
<!--    <input matInput-->
<!--           placeholder="Ex. ium"-->
<!--           #input-->
<!--           (keyup)="applyFilter($event)" >-->
<!--  </mat-form-field>-->

  <div class="mb-24">
    <button mat-raised-button
            (click)="onEdit($event)">
      Create hero
    </button>
  </div>

  <!--{{data$ | async}}-->
  <table [dataSource]="data.items || []"
         mat-table
         matSort
         [matSortActive]="matSortActive"
         [matSortDirection]="matSortDirection"
         matSortDisableClear
         (matSortChange)="onSortData($event)"
         class="mat-elevation-z8">

    <!-- Position Column -->
    <ng-container matColumnDef="nameLabelD">
      <th mat-header-cell *matHeaderCellDef>
        <app-bar-chart [data]="[
            {
      id: 1,
      x: '1 Minute Ago',
      y: 1
    },
    {
      id: 2,
      x: '5 Minute Ago',
      y: 20
    }
        ]"
        ></app-bar-chart>
      </th>
    </ng-container>

    <ng-container matColumnDef="nameLabel">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by number">
        Name
      </th>
      <td mat-cell *matCellDef="let element">
        {{element.nameLabel}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="genderLabelD">
      <th mat-header-cell *matHeaderCellDef>
<!--        <app-chart [data]="data"-->
<!--                   field="genderLabelD"></app-chart>-->
          <app-bar-chart [data]="[
            {
      x: '1 Minute Ago',
      y: 7
    },
    {
      x: '5 Minute Ago',
      y: 3
    }
        ]"
          ></app-bar-chart>
      </th>
    </ng-container>

    <ng-container matColumnDef="genderLabel">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by name">
        Gender
      </th>
      <td mat-cell *matCellDef="let element">
        <mat-chip-listbox aria-label="Fish selection">

          <mat-chip color="primary">
            {{element.genderLabel}}
          </mat-chip>
        </mat-chip-listbox>
      </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="citizenshipLabelD">
      <th mat-header-cell *matHeaderCellDef>
<!--        <app-chart [data]="data"-->
<!--                   field="citizenshipLabelD"></app-chart>-->
          <app-pie-chart [data]="[
            {
      x: '1 Minute Ago',
      y: 7
    },
    {
      x: '5 Minute Ago',
      y: 3
    }
        ]"></app-pie-chart>
      </th>
    </ng-container>

    <ng-container matColumnDef="citizenshipLabel">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by weight">
        Citizenship
      </th>
      <td mat-cell *matCellDef="let element"> {{element.citizenshipLabel}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="skillsLabelD">
      <th mat-header-cell *matHeaderCellDef>
<!--        <app-chart></app-chart>-->
      </th>
    </ng-container>

    <ng-container matColumnDef="skillsLabel">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by symbol">
        Skills
      </th>
      <td mat-cell *matCellDef="let element"> {{element.skillsLabel}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="occupationLabelD">
      <th mat-header-cell *matHeaderCellDef>
<!--        <app-chart></app-chart>-->
      </th>
    </ng-container>

    <ng-container matColumnDef="occupationLabel">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by symbol">
        Occupation
      </th>
      <td mat-cell *matCellDef="let element"> {{element.occupationLabel}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="memberOfLabelD">
      <th mat-header-cell *matHeaderCellDef>
<!--        <app-chart></app-chart>-->
      </th>
    </ng-container>

    <ng-container matColumnDef="memberOfLabel">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by symbol">
        Member Of
      </th>
      <td mat-cell *matCellDef="let element"> {{element.memberOfLabel}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="creatorLabelD">
      <th mat-header-cell *matHeaderCellDef>
<!--        <app-chart></app-chart>-->
      </th>
    </ng-container>

    <ng-container matColumnDef="creatorLabel">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by symbol">
        Creator
      </th>
      <td mat-cell *matCellDef="let element"> {{element.creatorLabel}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="actionsD">
      <th mat-header-cell *matHeaderCellDef></th>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>
        Actions
      </th>
      <td mat-cell *matCellDef="let element">
        <button mat-icon-button
                color="primary"
                aria-label="Example icon button with a home icon"
                (click)="onEdit($event, element)">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button
                color="accent"
                aria-label="Example icon button with a menu icon"
                (click)="onDelete($event, element)">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-header-row *matHeaderRowDef="displayedColumnsD"></tr>

    <tr mat-row
        *matRowDef="let row; columns: displayedColumns;"
        class="cursor-pointer"
        (click)="showDetails(row)"
    ></tr>
  </table>
</ng-container>
